*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    
}
html{
    scroll-behavior: smooth;
}
hr{
    margin: 0px;
}
body{
    margin: 0px;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: all 0.7s ease-in-out;
    
}
.logo img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 2px solid white;
}
.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-list li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin: 10px;

}
.background{
    background: rgb(0, 255, 234) url('s.webp');
    background-size: cover;
    background-blend-mode: darken;
}
#Sr{
    position: absolute;
    top: 25px;
    right: 10px;

}
#search{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 7px;
}
input[type='button']{
    padding: 5px 10px;
    border-radius: 7px;
    background: none;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.first{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.first img{
    margin: 50px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: 2px solid white;

}
.white{
    color: white;
}
.first div{
    display: inline-block;
}
.button{
    background: none;
    border: 2px solid white;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.second{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.rt{
 
    flex-direction: row-reverse;
}
 .thumbnail{
     margin-top: 25px;
    height: 270px;
    border: 2px solid black;
    border-radius: 10px;
}
.right{
    margin: 0px 25px;

}
#contact{
    background: #f6f5f4;
    height: 100vh;
}
.text-aling{
    text-align: center;
    padding: 10px;
}
#form{
   
    max-width: 70%;
    margin:  15px auto ;
}
#form .input{
    width: 97%;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px 0px;
    padding: 3px 5px;
}
#form .btn-sm{
    color: black;
    border: 2px solid black;
}
footer{
    margin: 0px;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.burger{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.watch{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 123, 123);
    color: white;
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
}
.banner-btn{
    
    
    transform: trnaslatey(-50%);
}
.banner-btn a{
    position: absolute;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    color: white;
    border:0.5px solid aqua ;
    transition: color 0.5s;
    top: 50%;
    margin: auto;
    left: 30%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}
#btn1{
    position: absolute;
    top: 50%;
    left: 40%;
    cursor: pointer;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: aqua;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: white;
}
.line{
    height: 4px;
    width: 35px;
    border-radius:30px ;
    background-color: white;
    margin: 5px;
    display: none;
}
@media only screen and (max-width:1050px) {
     .nav-list{
         margin: 20px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding: 0px;
     }
   
     .banner-btn a{
         top: 50%;
         left: 20%;
         
         margin-right: 20px;
     }
     #btn1{
         top: 50%;
         left: 60%;
         margin-left: 10px;
         margin-bottom: 50px;
     }
     .nav-list li{
        margin: 10px;
     }
     .navbar{
         height: 427px;
         flex-direction: column;
         align-items: center;
         justify-content: center;
        
     }
     #Sr{
         display: none;
        
     }
     .logo{
         display: flex;
        justify-content: center;
     }
    .line{
        display: block;

    }
    .h-nav{
        height: 50px;
    }
    .v-resp{
        opacity: 0%;
    }
  
}
@media only screen and (max-width:1070px){
.first{
    flex-direction: column;

}
.second{
    flex-direction: column;
    height: 780px;
}
.art{
    margin: 15px;
}

.first img
{
    height: 200px;
    width: 200px;
}
}
